@model IEnumerable<Post>
@inject IImageService imageService
@using BlogProject.Services 
@using BlogProject.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var post in Model) {
        <tr>
            <td>
                <img src="@imageService.DecodeImage(post.ImageData, post.ContentType)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Abstract)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@post.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
